.home {
  color: #ffffff;
  h1 {
    color: #ffffff;
  }
}

.image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  top: 0;
}

.text-overlay {
  position: absolute; /* Place le texte en position absolue dans le conteneur */
  top: 30%; /* Ajuste la position du texte */
  left: 25%;
  transform: translate(-30%, -50%); /* Centre le texte */
  color: white; /* Couleur du texte */
  font-size: 24px; /* Taille du texte */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  padding: 10px; /* Espacement autour du texte */
  border-radius: 5px; /* Bordures arrondies */
  margin-left: 20px;
}

.hours-overlay {
  position: flex; /* Place le texte en position absolue dans le conteneur */
  transform: translate(0%, -110%); /* Centre le texte */
  padding: 10px; /* Espacement autour du texte */
  border-radius: 5px; /* Bordures arrondies */
}

.paragraph-list {
  img {
    width: 100px;
    height: auto;
  }
}

.paragraph-list div {
  margin-bottom: 2%; /* Espace entre le paragraphe et le séparateur */
  padding: 0 50px 0 50px;
}
.paragraph-list div:first-child {
  margin-top: 8px; /* Espace entre le paragraphe et le séparateur */
}
.separator {
  width: 30px; /* Largeur plus petite du séparateur */
  height: 2px; /* Épaisseur du séparateur */
  background-color: #ccc; /* Couleur du séparateur */
  margin: 10px auto; /* Centrer le séparateur et ajouter un espace vertical */
}
h1 {
  font-size: 24px !important; /* Réduit la taille de la police à 24 pixels */
  font-weight: bold; /* Si tu veux rendre le texte moins gras */
  color: #333; /* Couleur du texte (optionnel) */
  text-align: left;
}
