.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%; /* L'image occupe 100% de la largeur du conteneur */
    max-width: 600px; /* Limite la largeur à 900px sur les écrans plus grands */
    height: auto; /* Maintient le ratio aspect des images */
    margin-bottom: 2px; /* Espacement entre les images */
  }
  img:first-child {
    margin-top: 50px;
  }
}
